<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Backup Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Backup Photos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="backedUp">
    {{ backedUpPhotos.value()?.count ?? 0 }} Photos Backed Up
  </div>
  <div class="photosToBackup">
    {{ photosToBackUp()?.length ?? 0 }} to Backup
  </div>

  <div class="backup">
    <ion-button (click)="backup()" [disabled]="!photosToBackUp()?.length">
      Backup {{ photosToBackUp()?.length }} Photos
    </ion-button>
  </div>
</ion-content>